<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <th>Nombre Empleado</th>
      <th>Correo Empleado</th>
      <th>Empresa Pertenece</th>
      <th>Rol Empleado</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.nombreEmpleado}"></td>
      <td th:text="${user.correoEmpleado}"></td>
      <td th:text="${user.empresaPertenece}"></td>
      <td th:text="${user.rolEmpleado}"></td>
      <td><a th:href="@{/user/editar/{id}(id = ${user.id})}">Editar</a></td>
      <td><a th:href="@{/user/borrar/{id}(id = ${user.id})}">Borrar</a></td>
    </tr>
  </table>

<a href="/agregar-usuario">Agregar un nuevo Empleado</a>

</body>
</html>